:root{
    --tex-color:pink;
}

h1 {
    color :var(--tex-color);
    font-size: 60px;
}

li{
    color :var(--text-color);
    font-size:  20px;
}

th{
    color :orange;
    font-size: 30px;

}

p{
    color: yellowgreen;
    font-size: 30px;
}

button{
    font-size: 20px;
    color : red;
}

button:active{
    color : rgb(36, 68, 64);
}

td{
    font-size: 20px;
}

.box:active{
    background-color: burlywood;
}

li:first-child{
    color : green;
}

li:last-child{
    color : yellowgreen;
}

p1{
    font: size 20px;
    color: black;
}